@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: theme('fontFamily.sans');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply text-zinc-900 bg-white;
  }

  h1,
  h2,
  h3,
  .font-display {
    font-family: theme('fontFamily.display');
  }

  code,
  pre,
  .font-mono {
    font-family: theme('fontFamily.mono');
  }
}
